/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main, sans-serif);
  margin: 0 auto;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--font-weight-text, 400);
  max-width: 700px;
  background-image: repeating-linear-gradient(90deg,
      #d3d3d3 0 2px,
      rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}

.header {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--accent-color, #fff);
  margin: 100px 0;
  padding: 128px 14px;
  font-family: var(--font-accent, cursive);
  font-weight: var(--font-weight-text, 400);
  border: 2px solid var(--main-color, #000);
  width: 100%;
  gap: 20px;
}



.card__list__item {
  display: grid;
  background-color: var(--accent-color, #fff);
  border: 2px solid var(--main-color, #000);
}


img {
  width: 100%;
  height: auto;
  max-height: 696px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  border-block-end: 2px solid var(--main-color, #000);
  object-position: center;
}

.content__image {
  position: relative;
}

.img__span {
  opacity: 0.5;
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  font-family: var(--font-accent, cursive);
  font-size: 14px;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff;
}

@supports (-webkit-text-stroke: 1px white) {
  .img__span {
    -webkit-text-stroke: 1px white;
    text-shadow: none;
  }
}

.content__subtitle {
  font-family: var(--font-main, sans-serif);
  font-size: 18px;
  font-variation-settings: "wght" 700;
  padding: 5px 10px;
  border-block-end: 2px solid var(--main-color, #000);
}

.pharagraph__content {
  display: grid;
  gap:27px;
  font-family: var(--font-main, sans-serif);
  padding: 25px;
  line-height: 20px;
  font-size: 18px;
  padding-block-end: 0;
  margin-block-end: 0;
  font-weight: 400;
}

.card__list {
  display: grid;
  gap: 50px;
}

.sepia {
  filter: sepia(100%);
}

.grayscale {
  filter: grayscale(100%);
}

.invert {
  filter: invert(100%);
}

.hue {
  filter: hue-rotate(90deg);
}

.saturate {
  filter: saturate(8);
}

.brightness {
  filter: brightness(0.25);
}

.contrast {
  filter: contrast(200%);
}

.multiple__filters {
  filter: sepia(100%) hue-rotate(90deg) saturate(8) contrast(200%);
}

.card__buttons {
  display: flex;
  margin-inline: auto 0;
  justify-content: flex-end;
margin: 25px;
 gap:3px;
}



.sparks {
  opacity: 0;
}

.contour {
  fill: var(--main-color, #000);
  transition-duration: 0.1s;
}

.core {
  fill: transparent;
  transition-delay: 0.03s;
  transition-duration: 0.3s;
}

.card__icon-button {
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  padding: 0px;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  background-color: var(--background-color);
}

.card__icon-button:focus {
  outline: none;
  border-color: #000;
}

.card__icon-button:focus-visible {
  border-color: #000;
}

.card__like-button {

  position: relative;
  display: flex;
  width: 130px;
  height: 38px;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  
  line-height: 90%;
  font-size: 14px;
}

.card__like__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color, #000);
  transition: 0.5s ease-in-out;
}

.like-icon {
  width: 39px;
  height: 39px;
  background-color: transparent;
  border: 0;
  padding: 0;
  outline: none;
}

.like-icon:hover .core {
  fill: var(--main-color, #000);
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon:active .core {
  fill: #ff0000;
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.main-body {
  fill: transparent;
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--main-color, #000);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon:active .main-body {
  fill: #ff0000;
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .core {
  fill: #ff0000;
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: #ff0000;
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .contour {
  fill: #ff0000;
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .sparks {
  animation-name: heart-sparks;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.is-liked .heart {
  transform-origin: center;
  animation-name: heart-scale;
  animation-delay: 0.1s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.card__save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: relative;
  gap: 5px;
  inline-size: 339px;
  block-size: 55px;
  
  line-height: 90%;
  margin-block-start: 52px;
  margin-inline-start: 180px;
      margin-block-end: 103px;
  
}

.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 42px;
  line-height: 150%;
  text-transform: uppercase;
  max-inline-size: 350px;
}

.dialog__form {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 1fr fit-content;
  row-gap: 30px;
}

.dialog__button {
  grid-column: 1 / 3;
  grid-row: 2;
  padding: 9px 0;
  text-transform: uppercase;
  background-color: transparent;
}

.dialog__text {
  font-family: var(--font-accent, cursive);
  font-weight: var(--font-weight-text, 400);
  font-size: 14px;
}

.dialog__image {
  align-self: center;
  block-size: 39px;
}

.dialog:not([open]) {
  display: none;
  pointer-events: none;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

.floppy {
  position: relative;
  mix-blend-mode: difference;
  z-index: 1;
  color: #fff;
  block-size: 21px;
}


.header__title {
  font-size: var(--title-size,
      clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem));
}

.header__subtitle {
  font-size: var(--subtitle-size,
      clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem));
}

.button {
   position: relative; 
   font-family: var(--font-accent, cursive);
  font-weight: var(--font-weight-text, 400);
  font-size: 14px;
   border: 2px solid var(--main-color, #000);
   cursor: pointer;
   

}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px var(--main-color, #000);
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color, #000);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color, #000);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--accent-color, #fff);
  mix-blend-mode: difference;
}

@media (width <=500px) {
.page {
  margin: 0;
}

  .header {
    padding: 120px 14px;
  }

  img {
  width: 100%;
  height: auto;
  max-height: 371px;

}

  .img__span {
    top: 20px;
    right: 10px;
  }

  .card__save-button {
    display: flex;
    flex-direction: column;
    gap: 8px;
    inline-size: 306px;
    block-size: 84px;
    margin-block-start: 52px;
    margin-inline-start: 34px;
    margin-block-end: 100px;
  }

  .pharagraph__content {
    padding: 23px 27px 0 25px;
    line-height: 21px;
  }



  .floppy {
    block-size: 28px;
  }
  .card__list {
    margin-bottom: 0;
 
  gap: 46px;
}
}